
{:paths ["source-code/cljs"]
 :deps  {bithandshake/cljs-dom                 {:git/url "https://github.com/bithandshake/cljs-dom"
                                                :sha     "e058ebaf9f99bd8b47c0cedb0e5deea38c4f9869"}
         bithandshake/cljs-temporary-component {:git/url "https://github.com/bithandshake/cljs-temporary-component"
                                                :sha     "3fa762f22a434cb7ddf0ba975e56201ac9bc1cba"}
         org.clojure/clojurescript             {:mvn/version "1.10.891"}}}
