
{:paths ["source-code/cljs"]
 :deps  {bithandshake/cljs-dom                 {:git/url "https://github.com/bithandshake/cljs-dom"
                                                :sha     "1495bb1faf322206d00bb61b0034b0a366712bab"}
         bithandshake/cljs-temporary-component {:git/url "https://github.com/bithandshake/cljs-temporary-component"
                                                :sha     "d517fb5db9c257a01529da81b1b92cd68a93062e"}
         org.clojure/clojurescript             {:mvn/version "1.10.891"}}}
