
{:paths ["source-code/cljs"]
 :deps  {bithandshake/cljs-dom                 {:git/url "https://github.com/bithandshake/cljs-dom"
                                                :sha     "e80a0fe3c12f0f64be1ebbc32578a871a008e152"}
         bithandshake/cljs-temporary-component {:git/url "https://github.com/bithandshake/cljs-temporary-component"
                                                :sha     "7a94c7a9faecc3fd3da02d4d97578dac295918dc"}
         org.clojure/clojurescript             {:mvn/version "1.10.891"}}}
